<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-center mb-4">
          <img src="assets/images/logoa.png" alt="About Us Image" class="img-fluid rounded-circle">
        </div>
      <div class="col-md-6">
        <br> <br>
        <h2 class="display-4 mb-4">About Us</h2>
        <p>
          Karhebti is an innovative car sales platform, passionately designed by Rania Souissi in 2023. Our mission is to provide our customers with an exceptional and personalized automotive shopping experience. With a user-friendly interface and advanced features, users can easily explore a wide selection of new cars from different brands and models.
        </p>
        <p>
          We are committed to offering a transparent and secure purchasing process. Each car listed on Karhebti comes with detailed information, high-quality photos, and comprehensive technical specifications to assist our customers in making informed decisions. Our dedicated team of professionals is always ready to help and respond to customer inquiries, providing top-notch customer service throughout the purchasing process. Additionally, we offer exclusive promotions and flash sales to allow our customers to take advantage of attractive deals on select cars.
        </p>
        <p>
          At Karhebti, we believe in building lasting relationships with our customers by delivering a memorable and satisfying experience at every step. We take pride in being a leader in the online car sales industry and remain committed to staying at the forefront of innovation to provide the best possible service to our customers.
        </p>
      </div>
    </div>
  </div>
  