<div class="dashboard-vendeur">
    <div class="sidebar">
        <h2 class="dashboard-title">
            <i class="fas fa-store dashboard-icon"></i> Vendor
          </h2>
      <ul>
    
        <li (click)="showCarManagement()">
          <i class="fas fa-car"></i> Cars
        <li (click)="showPromotionManagement()">
          <i class="fas fa-gift"></i> Promotions
        </li>
        <!--<li (click)="showUserManagement()">
          <i class="fas fa-users"></i> Users
        </li>-->
        <li>
            <i class="fas fa-user"></i> Profil
          </li>
          <li>
            <i class="fas fa-sign-out-alt"></i> Sign Out
          </li>
      </ul>
    </div>
    <div class="content">
        <button class="btn btn-secondary" (click)="navigateTo('home')">
            <i class="fas fa-home"></i> Home
          </button>
          <span class="page-title">{{ pageTitle }}</span>
      <div class="management-container">
        <app-car-management *ngIf="isCarManagementVisible"></app-car-management>
        
             
              
              <router-outlet></router-outlet>
            </div>
          </div>
        
      <!--
<app-user-management *ngIf="isUserManagementVisible"></app-user-management>
<app-promotion-management *ngIf="isPromotionManagementVisible"></app-promotion-management>
-->
      </div>
   
  
